{
  .vscode/*
  build/Release
  */build/*
  /dist
  /node_modules
  node_modules/
  .eslintcache
  .eslintignore
  .czrc
  .env
  .env.test
  .env.production
  .cache
  .parcel-cache
  .vscode-test
  .gitignore
  .editorconfig
}
