.Company-Details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Company-Name {
	font-family: Poppins;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: bold;
}

.Category-Logo {
	width: 30px;
}

.Timestamp {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.Receipt-Saved-Text {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-bottom: 1em;
	align-items: center;
}

.Tick-Container {
	display: inline-block;
	background-color: rgb(254, 254, 254);
	width: 70px;
	height: 70px;
	line-height: 80px;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
}

.Tick {
	color: #18ddba;
	font-size: 70px;
}

.Saved-Message {
	font-size: small;
}

.listButton {
	display: flex;
	justify-content: center;
}

.Button-Text {
	background-color: #1fc2c2;
	padding: 0 1.25rem;
	line-height: 2.125rem;
	font-size: 0.875rem;
	font-weight: 400;
	text-align: center;
	margin: 0.125rem;
	color: white;

	border-radius: 30px;

	transition: color 0.125s ease;
	cursor: pointer;

	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
}
