.Item-List-Titles {
	display: flex;
	justify-content: space-between;
	font-size: x-small;
	margin-left: 0.7em;
	margin-right: 0.7em;
	font-weight: 600;
	color: #248cce;
}

.Item-List-Container {
	background: white;
	border-radius: 8px;
	max-height: 5em;
	min-height: 5em;
	margin-bottom: 1em;
	overflow-y: auto;
}
/* Styles to make scrollbar always visilble */
.Item-List-Container::-webkit-scrollbar {
	-webkit-appearance: none;
}

.Item-List-Container::-webkit-scrollbar:vertical {
	width: 10px;
}

.Item-List-Container::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid white;
	background-color: #ebedfd;
}

.List {
	font-size: x-small;
	list-style: none;
	padding: 0.2em;
}

.Message-Container {
	display: flex;
	flex-wrap: wrap;
	border-radius: 8px;
	background: white;
	font-size: small;
	margin-bottom: 1em;
	padding: 0.3em;
}
