*/test/*.ts
.vscode/*
build/Release
*/build/*
/dist
/node_modules
node_modules/
.eslintcache
.eslintignore
.eslintrc.js
.prettierrc.js
.prettierignore
.czrc
.env
.env.test
.env.production
.cache
.parcel-cache
.vscode-test
.gitignore
.editorconfig
*config.js
tsconfig.json
*.spec.ts

