.listItemContainer {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 1em;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
		0px 41.7776px 33.422px rgba(0, 0, 0, 0.0503198),
		0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
		0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
		0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
		0px 2.76726px 2.2138px rgba(0, 0, 0, 0.0196802);
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	min-width: 285px;
}
.logo {
	display: flex;
	justify-content: center;
	min-width: 30px;
}
.logo img {
	width: 30px;
	text-align: right;
}

.merchantName {
	font-family: Poppins;
	font-size: 1em;
	line-height: 18px;
	letter-spacing: -1px;
	min-width: 80px;
	max-width: 380px;
	text-align: center;
	color: rgba(60, 60, 67, 0.75);
}

.date {
	font-family: Poppins;
	font-size: 0.8em;
	line-height: 20px;
	letter-spacing: -0.24px;
	max-width: 65px;
	min-width: 65px;
	text-align: center;
	color: rgba(25, 47, 57, 0.5);
}

.total {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 1em;
	line-height: 20px;
	text-align: right;
	letter-spacing: -0.24px;
	color: rgba(25, 47, 57, 0.5);
}

.category {
	display: flex;
	justify-items: flex-end;
	align-content: flex-start;
}
.category img {
	width: 30px;
}
